.header {
    display: grid;
    grid-template-columns: 4fr 1.55fr 1fr 2.77fr 0.23fr;
    align-items: center;
    margin: 92px 24px 96px;
}

.header__menu {
    display: flex;
    grid-column: 1;
    align-items: center;
    justify-self: center;
    margin-top: 44px;
    margin-bottom: 39px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    line-height: 100%;
}

.header__links-list-item {
    color: black;
    font-weight: 400;
    font-size: 18px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    display: block;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo{
    display: block;
    grid-column: 2;
    justify-self: center;
    width: 148px;
    height: 105px;
}

.header__logo-img {
    width: 100%;
    height: 100%;
}


.header__contacts {
    grid-column: 4;
    justify-self: end;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 100%;
    max-width: 240px;
    font-size: 18px;
}

.contact {
    display: block;
    color: black;
    line-height: 24.3px;
    text-decoration: none;
}

.contacts-phone,
.contacts-email {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    white-space: nowrap;
}

.contacts-phone {
    margin-bottom: 1px;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    background-image: url(../images/cover.jpg);
    background-position: center; /* центрирует изображение */
    background-size: 127.5%;
    background-repeat: no-repeat;
    padding: 165px 50px 51px;
    width: 100%;
    height: 757px;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.cover__title {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    z-index: 3;
    color: white;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    line-height: 1;
    text-align: center;
}

.aligned-text_right {
    line-height: 1;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    align-items: center;
}

.cover__description-text {
    position: relative;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
    z-index: 3;
    margin-left: 32px;
    word-spacing: 18px;
    margin-right: 77px;
}

.bet-button {
    position: relative;
    background-color: transparent;
    padding: 12px 32px 11px 31px;
    border: 1px solid white;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    z-index: 3;
    transition: 0.3s ease opacity;
}

.bet-button:hover {
    opacity: 0.7;
}